.overlay {
    position: fixed;
    display: none;
    width: 60%;
    height: 60%;
    top: 16px;
    left: 18px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay_on{
    display: block;
}

.overlay_off{
    display: none;
}

#member_card_div{
    position: absolute;
    height: 50%;
    width: 50%;
    top:165px;
    left: 200px;
}

#added_list{
    border: 1px groove;
    width: 220px;
    position: absolute;
    left: 70%;
    overflow: auto;
}

#whole_list{
    border: 1px groove;
    width: 220px;
    position: absolute;
    left: 40%;
    overflow: auto;
}